*{
    margin: 0;
    padding: 0;
}
.forgot-password-title{
    font-family: sans-serif;
    text-align: center;
    margin-top: 80px;
}
.emailForm{
    text-align: center;
    margin-top: 60px;
}
.email{
    width: 290px;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.email-button{
    padding: 10px;
    outline: none;
    margin: 0px 10px;
    background-color: rgb(60, 60, 255);
    border: 1px solid rgb(60, 60, 255);
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}
.email-button:hover{
    background-color: rgb(90, 90, 255);
}
.numberForm{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 140px;
}
.number{
    width: 290px;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.number-button{
    padding: 10px;
    outline: none;
    margin: 0px 10px;
    background-color: rgb(60, 60, 255);
    border: 1px solid rgb(60, 60, 255);
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}
.number-button:hover{
    background-color: rgb(90, 90, 255);
}
.forgot-password-container{
    display: inline-block;
    padding: 0px 140px;
    margin-top: 140px;
    margin-bottom: 90px;
    box-shadow: 0px 0px 10px rgb(190, 190, 190);
}
.forgot-password-section{
    text-align: center;
}